<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Sign Up Form</title>
  </head>
  <body>
    <p>Hi welcome to the Signup Page</p>
    <!-- jinja syntax - template engine which is used by flask -->
    <p>Today is a {{ day_of_week }}</p>
    <p>The Time is {{ current_time }}</p>
    <div class="centred">
      <form action="/submit"  method="POST">
        <label for="name">Name</label>
        <input
          type="text"
          name="name"
          id="name"
          placeholder="Enter your name"
        />
        <br />
        <!-- <label for="email">Email</label>
        <input
          type="email"
          name="email"
          id="name"
          placeholder="Enter your email"
        /> -->
        <br />
        <label for="password">Password</label>
        <input
          type="password"
          name="password"
          id="password"
          placeholder="Enter your password"
        />
        <br />
        <!-- <label for="confirm_password">Confirm Password</label>
        <input
          type="password"
          name="confirm_password"
          id="confirm_password"
          placeholder="confirm your password"
        /> -->
        <br /> 
        <input type="submit" value="Submit" />
      </form>
    </div>

  </body>
  <style>
    body {
      background-color: whitesmoke;
    }
    p {
      text-align: center;
      font-size: 30px;
      font-family: Arial, Helvetica, sans-serif;
      color: black;
    }

    .centred {
        margin: auto;
        width: 50%;
        border: 3px solid green;
        padding:10px;
    }
  </style>
</html>
